{{page-title "NuzlockeTracker"}}

{{!-- The following component displays Ember's default welcome message. --}}
<h1 class="font-mono text-6xl"> Welcome to NuzlockeTracker </h1>
{{!-- Feel free to remove this! --}}

{{outlet}}